
.product-title {
    font-size: 1.2rem;
    font-weight: 500;
}

.product-price {
    font-size: 1.1rem;
    color: #f57224;
}

.card-image img {
    width: 220px !important;
    height: 200px !important;
    margin-left: 1rem;
    padding: 1rem;
}
